<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %} | MovieShop</title>
	<!-- Meta -->
	<meta charset='UTF-8'>
	<meta http-equiv="X-UA-Compatible" content='IE=edge'>
	<meta name='viewport' content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Rohan Roy">

	<!-- Style -->
	{% block style %}{% endblock %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css">

</head>
<body>
	{% block content %}{% endblock%}
	{% block script %}{% endblock %}
	<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
</body>
</html>